#conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    align-content: stretch;
}

.element
{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#e1
{
    background-color: red;
    flex: 1;
}

#e2
{
    background-color: blue;
    flex: 3;
}

#e3
{
    background-color: green;
}